<ion-header>
  <ion-toolbar>
    <ion-title>copomex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-row>
    <ion-col size="6">
      <ion-text>Formulario tomado de roma para Prueba</ion-text>
    </ion-col>
  </ion-row>


              <!--Domicilio-->

                <ion-slide>
                    <ion-grid class="grid">
                        <ion-row class="ion-justify-content-center">

                        <ion-col class="ion-no-padding" size="10">
                                <form  [formGroup]="addressForm" #addressngForm="ngForm" >
                                    &nbsp;
                                    <ion-row>

                                        <ion-col size="12" class="backtitulos">
                                            <ion-label position="stacked" color="primary" class="titulos">
                                                <span   >{{ 'ADDRESS' }}</span>
                                            </ion-label>
                                        </ion-col>



                    <ion-col size="12" size-md="5">
                      <ion-label position="stacked"
                        >{{'STREET'  }}</ion-label
                      >
                      <ion-item lines="none" color="light">
                        <ion-input
                          type="text"
                          placeholder="{{ 'STREET'  }}"
                          class="fuform"
                        [(ngModel)]="street"
                        name="street"
                        formControlName="street"
                        ></ion-input>

                      </ion-item>

                    </ion-col>

                    <ion-col size="12" size-md="3">
                      <ion-label position="stacked"
                        >{{'NO_OUTSITE_INSIDE'  }}</ion-label
                      >
                      <ion-item lines="none" color="light">
                        <ion-input
                          type="text"
                          placeholder="{{ 'NO_OUTSITE_INSIDE'  }}"
                          class="fuform"
                        formControlName="no_outsite_inside"
                        ></ion-input>
                      </ion-item>
                    </ion-col>

                    <ion-col size="12" size-md="3">
                      <ion-label position="stacked"
                        >{{'POSTAL_CODE'  }}</ion-label
                      >
                      <ion-item lines="none" color="light">
                        <ion-input
                          type="text"
                          placeholder="{{ 'POSTAL_CODE'  }}"
                          class="fuform"
                          [(ngModel)]="postalCode"
                          (change)="GetAddresFromApi(postalCode)"
                          formControlName="postal_code"
                        ></ion-input>
                      </ion-item>
                    </ion-col>

                    <ion-col size="12" size-md="5">
                      <ion-label position="stacked"
                        >{{'SUBURB'  }}</ion-label
                      >
                      <ion-item lines="none" color="light">
                        <ion-input
                          type="text"
                          placeholder="{{ 'SUBURB'  }}"
                          class="fuform"
                          formControlName="suburb"
                        ></ion-input>
                      </ion-item>
                    </ion-col>

                    <ion-col size="12" size-md="4">
                      <ion-label position="stacked"
                        >{{'MUNICIPALITY'  }}</ion-label
                      >
                      <ion-item lines="none" color="light">
                        <ion-input
                          type="text"
                          placeholder="{{ 'MUNICIPALITY'  }}"
                          class="fuform"
                        formControlName="municipality"
                        ></ion-input>
                      </ion-item>
                    </ion-col>

                    <ion-col size="12" size-md="6">
                      <ion-label position="stacked"
                        >{{'STATE'  }}</ion-label
                      >
                      <ion-item lines="none" color="light">
                        <ion-input
                          type="text"
                          placeholder="{{ 'STATE'  }}"
                          class="fuform"
                          formControlName="state"
                        ></ion-input>
                      </ion-item>
                    </ion-col>

                  </ion-row>
                </form>
              </ion-col>
            </ion-row>


            </ion-grid>
          </ion-slide>



</ion-content>
